package navbar

templ Navbar() {
  <nav class="navigation">
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:text-gray-300">Главная</a></li>
      <li><a href="/about" class="hover:text-gray-300">О нас</a></li>
      <li><a href="/contact" class="hover:text-gray-300">Контакты</a></li>
    </ul>
  </nav>
}