package pages

import (
	"echo_starter/view/layout"
	"echo_starter/view/components/home/hero"
	"echo_starter/view/components/home/logos"
	"echo_starter/view/components/home/services"
)

templ Index(name string) {
	@layout.Base("Главная страница - LiveReload РАБОТАЕТ!") {
		@hero.Hero()
		@logos.Logos()
		@services.Services()
	}
}

